body {
	background: #fff;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden; !important;
}


#mainNav .navbar-brand {
	font-family: 'Source Serif Pro', serif;
	font-size: 1.9rem;
	color: #048711;
}

#mainNav .nav-link {
	color: black;
	font-size: 1.4rem;
	font-weight: 100;
}

#mainNav .nav-link:hover {
	color: #048711;
}

h1 {
	font-family: 'Source Serif Pro', serif;
	color: black;
}

h2 {
	font-family: 'Source Serif Pro', serif;
	font-size: 1.9rem;
	color: black;
}

h3 {
	font-size: 2rem;
}

h4 {
	color: black;
	font-size: 1.2rem;
}

span, a:hover {
	color: #048711
}

#mainNav a span {
	color: black;
}

a {
	color: #000;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
	border-width: 0px;
}
